<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Developer List</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    
    <body>
      <div class="container mt-4">
        <!-- developers table -->
        <div class="table-responsive m-t-16">
          <table class="table mb-4" style="width: 100%; border-radius: 10px;">
            <thead>
              <tr>
                <th>DEVELOPER NAME</th>
                <th>STATUS</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td>Developer 1</td>
                <td>Present</td>
              </tr>
              <tr>
                <td>Developer 2</td>
                <td>Absent</td>
              </tr>
              <tr>
                <td>Developer 3</td>
                <td>Present</td>
              </tr>
              <tr>
                <td>Developer 4</td>
                <td>Absent</td>
              </tr>
              <tr>
                <td>Developer 5</td>
                <td>Present</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </body>
  </mat-card-content>
</mat-card>