<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Developer List</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1" style=" width: 100%;">
    
          <div class="table-responsive m-t-16" >
            <table class="table mb-4" style="width: 100%; border-radius: 10px;">
              <thead>
                  <tr>
                      <th>User Story</th>
                      <th >Availability</th>
                      <th >Priority</th>
                      <th >Select Developer</th>
                      <th >Action</th>
                  </tr>
              </thead>
              <tbody>
                  
                  <tr>
                      <td>Task 1</td>
                      <td><input type="radio" > </td>
                      <td>High</td>
                      <td><select name="snack" class="select">
                          <option value="Developers">Developers</option>
                          <option value="DEV 1">DEV 1</option>
                          <option value="DEV 2">DEV 2</option>
                          <option value="DEV 3">DEV 3</option>
                          <option value="DEV 4">DEV 4</option>
                          <option value="DEV 5">DEV 5</option>
                           </select>
                          
                      </td>
                      <td>
                          <button class="green-button">Update</button>
                          <button class="red-button">Delete</button>
                      
                      </td>
                  </tr>
                  <tr>
                      <td>Task 2</td>
                      <td><input type="radio" > </td>
                      <td>High</td>
                      <td><select name="snack" class="select">
                          <option value="Developers">Developers</option>
                          <option value="DEV 1">DEV 1</option>
                          <option value="DEV 2">DEV 2</option>
                          <option value="DEV 3">DEV 3</option>
                          <option value="DEV 4">DEV 4</option>
                          <option value="DEV 5">DEV 5</option>
                           </select>
                          
                      </td>
                      <td>
                          <button class="green-button">Update</button>
                          <button class="red-button">Delete</button>
                      
                      </td>
      
                  </tr>
                  <tr>
                      <td>Task 3</td>
                      <td><input type="radio" > </td>
                      <td>High</td>
                      <td><select name="snack" class="select">
                          <option value="Developers">Developers</option>
                          <option value="DEV 1">DEV 1</option>
                          <option value="DEV 2">DEV 2</option>
                          <option value="DEV 3">DEV 3</option>
                          <option value="DEV 4">DEV 4</option>
                          <option value="DEV 5">DEV 5</option>
                           </select>
                           
                      </td>
                      <td>
                          <button class="green-button">Update</button>
                          <button class="red-button">Delete</button>
                       
                      </td>
                  </tr>
                  <tr>
                      <td>Task 4</td>
                      <td><input type="radio" > </td>
                      <td>High</td>
                      <td><select name="snack" class="select">
                          <option value="Developers">Developers</option>
                          <option value="DEV 1">DEV 1</option>
                          <option value="DEV 2">DEV 2</option>
                          <option value="DEV 3">DEV 3</option>
                          <option value="DEV 4">DEV 4</option>
                          <option value="DEV 5">DEV 5</option>
                           </select>
                          
                      </td>
                      <td>
                          <button class="green-button">Update</button>
                          <button class="red-button">Delete</button>
                       
                      </td>
                  </tr>
                  <tr>
                      <td>Task 5</td>
                      <td><input type="radio" > </td>
                      <td>High</td>
                      <td><select name="snack" class="select">
                          <option value="Developers">Developers</option>
                          <option value="DEV 1">DEV 1</option>
                          <option value="DEV 2">DEV 2</option>
                          <option value="DEV 3">DEV 3</option>
                          <option value="DEV 4">DEV 4</option>
                          <option value="DEV 5">DEV 5</option>
                           </select>
                          
                      </td>
                      <td>
                          <button class="green-button">Update</button>
                          <button class="red-button">Delete</button>
                       
                      </td>
                  </tr>
              </tbody>
          </table>
          </div>
       
  </mat-card-content>
</mat-card>