/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: linear-gradient(to top right, #1d3263, #442063, #1f2d51, #342557, #2b233c);
    background-attachment: fixed;
    background-size: cover;}
